{% extends 'PortfolioDatabase/base.html'%}

{% block body %}
<h2>Welcome</h2>
<p class ="p-home">
    My name is Sadie Judd. I am a Computer Science student at Weber State University.
    I spend a lot of time studying and working, but I also like spending time with friends and family,
    playing with my dog, and spening time outdoors.
</p>
<p class = "p-home">I’ve been working on a mix of projects that show what I’m learning as I go deeper into computer science. A lot of what I make comes from trying out new ideas, figuring out how things work behind the scenes, and building small programs that actually do something useful. Some projects are web apps, some are Python games or scripts, and others are things I built for class to understand topics like data structures, algorithms, and operating systems.

Most of my projects focus on learning by doing, whether that means building a Django site from scratch, creating a Java GUI, designing a database, or experimenting with lower-level code in an OS. I like making things that feel clean, practical, and fun to use. As I keep improving my skills, I’m adding new features, trying different tools, and pushing myself to write better and more organized code.</p>
<p class = "p-home">I have a mix of hobbies that help me balance out school and everything else I’m working on. I love skiing at Alta Ski Area because it’s the one place where I can completely clear my head and just enjoy the mountains. Hiking gives me that same peaceful feeling, but in a slower, more relaxed way, and I like using it as a reset when things get stressful. I also like to play piano, I love classical music, especially pieces like Moonlight Sonata, because playing them feels really calming and expressive. All of these things make me feel grounded in different ways, and they’re a big part of what keeps me balanced and happy outside of coding and school.</p>
{% endblock %}